@charset "UTF-8";

@nav-color: #21f5ea;

/* Raleway, latin subset */
@font-face {
    src: local('Raleway'), local('Raleway-Regular'),
        url('/static/fonts/Raleway/Raleway.woff2') format('woff2'),
        url('/static/fonts/Raleway/Raleway.ttf') format('truetype'),
        url('/static/fonts/Raleway/Raleway.otf') format('opentype'),
        url('/static/fonts/Raleway/Raleway.woff') format('woff'),
        url('/static/fonts/Raleway/Raleway.eot') format('embedded-opentype'),
        url('/static/fonts/Raleway/Raleway.svg') format('svg');
    font-family: 'Raleway';
    font-display: swap;
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Raleway, extended latin subset */
@font-face {
    src: local('Raleway'), local('Raleway-Regular'),
        url('/static/fonts/Raleway/Raleway.woff2') format('woff2'),
        url('/static/fonts/Raleway/Raleway.ttf') format('truetype'),
        url('/static/fonts/Raleway/Raleway.otf') format('opentype'),
        url('/static/fonts/Raleway/Raleway.woff') format('woff'),
        url('/static/fonts/Raleway/Raleway.eot') format('embedded-opentype'),
        url('/static/fonts/Raleway/Raleway.svg') format('svg');
    font-family: 'Raleway';
    font-display: swap;
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* Raleway, cyrillic subset */
@font-face {
    src: local('Raleway'), local('Raleway-Regular'),
        url('/static/fonts/Raleway/Raleway.woff2') format('woff2'),
        url('/static/fonts/Raleway/Raleway.ttf') format('truetype'),
        url('/static/fonts/Raleway/Raleway.otf') format('opentype'),
        url('/static/fonts/Raleway/Raleway.woff') format('woff'),
        url('/static/fonts/Raleway/Raleway.eot') format('embedded-opentype'),
        url('/static/fonts/Raleway/Raleway.svg') format('svg');
    font-family: 'Raleway';
    font-display: swap;
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* Raleway, extended cyrillic subset */
@font-face {
    src: local('Raleway'), local('Raleway-Regular'),
        url('/static/fonts/Raleway/Raleway.woff2') format('woff2'),
        url('/static/fonts/Raleway/Raleway.ttf') format('truetype'),
        url('/static/fonts/Raleway/Raleway.otf') format('opentype'),
        url('/static/fonts/Raleway/Raleway.woff') format('woff'),
        url('/static/fonts/Raleway/Raleway.eot') format('embedded-opentype'),
        url('/static/fonts/Raleway/Raleway.svg') format('svg');
    font-family: 'Raleway';
    font-display: swap;
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* Igra Sans, latin subset */
@font-face {
    src: local('Raleway'), local('Raleway-Regular'),
        url('/static/fonts/IgraSans/IgraSans.woff2') format('woff2'),
        url('/static/fonts/IgraSans/IgraSans.ttf') format('truetype'),
        url('/static/fonts/IgraSans/IgraSans.otf') format('opentype'),
        url('/static/fonts/IgraSans/IgraSans.woff') format('woff'),
        url('/static/fonts/IgraSans/IgraSans.eot') format('embedded-opentype'),
        url('/static/fonts/IgraSans/IgraSans.svg') format('svg');
    font-family: 'Raleway';
    font-display: swap;
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Igra Sans, extended latin subset */
@font-face {
    src: local('Raleway'), local('Raleway-Regular'),
        url('/static/fonts/IgraSans/IgraSans.woff2') format('woff2'),
        url('/static/fonts/IgraSans/IgraSans.ttf') format('truetype'),
        url('/static/fonts/IgraSans/IgraSans.otf') format('opentype'),
        url('/static/fonts/IgraSans/IgraSans.woff') format('woff'),
        url('/static/fonts/IgraSans/IgraSans.eot') format('embedded-opentype'),
        url('/static/fonts/IgraSans/IgraSans.svg') format('svg');
    font-family: 'Raleway';
    font-display: swap;
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* Igra Sans, cyrillic subset */
@font-face {
    src: local('Raleway'), local('Raleway-Regular'),
        url('/static/fonts/IgraSans/IgraSans.woff2') format('woff2'),
        url('/static/fonts/IgraSans/IgraSans.ttf') format('truetype'),
        url('/static/fonts/IgraSans/IgraSans.otf') format('opentype'),
        url('/static/fonts/IgraSans/IgraSans.woff') format('woff'),
        url('/static/fonts/IgraSans/IgraSans.eot') format('embedded-opentype'),
        url('/static/fonts/IgraSans/IgraSans.svg') format('svg');
    font-family: 'Raleway';
    font-display: swap;
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* Igra Sans, extended cyrillic subset */
@font-face {
    src: local('Raleway'), local('Raleway-Regular'),
        url('/static/fonts/IgraSans/IgraSans.woff2') format('woff2'),
        url('/static/fonts/IgraSans/IgraSans.ttf') format('truetype'),
        url('/static/fonts/IgraSans/IgraSans.otf') format('opentype'),
        url('/static/fonts/IgraSans/IgraSans.woff') format('woff'),
        url('/static/fonts/IgraSans/IgraSans.eot') format('embedded-opentype'),
        url('/static/fonts/IgraSans/IgraSans.svg') format('svg');
    font-family: 'Raleway';
    font-display: swap;
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@media (inverted-colors: inverted) {

    img,
    svg {
        filter: invert(1) !important;
    }

    * {
        box-shadow: none !important;
        text-shadow: none !important;
    }
}

@media print {

    html,
    body {
        height: 297mm;
        width: 210mm;
    }

    *,
    *::before,
    *::after {
        box-shadow: none !important;
        text-shadow: none !important;
        color-adjust: exact;
        -webkit-print-color-adjust: exact;
    }

    a[href^="http"]::after,
    a[href^="mailto"]::after,
    a[href^="tel"]::after {
        content: " ("attr(href) ")";
    }

    a[href^="javascript"]::after {
        content: "(JavaScript link)";
    }

    a[href^="data"]::after {
        content: "(binary data)";
    }
}

@page {
    margin-top: 10mm;
    margin-bottom: 10mm;
    margin-right: 10mm;
    margin-left: 20mm;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.title {
    margin-top: 130px;
    font-weight: 600;
    text-align: center;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    margin: auto;
    text-align: center;
}

.btn-3 {
    background: #21f5ea;
    background: linear-gradient(0deg, #21f5ea 0%, #21ccb0 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;

    span {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;

        &:hover {
            color: #5be6ff;

            &::before {
                height: 100%;
            }

            &::after {
                width: 100%;
            }
        }

        &::before,
        &::after {
            position: absolute;
            content: "";
            left: 0;
            bottom: 0;
            background: #64edff;
            transition: all 0.3s ease;
        }

        &::before {
            width: 2px;
            height: 0%;
        }

        &::after {
            width: 0%;
            height: 2px;
        }
    }

    &::before,
    &::after {
        position: absolute;
        content: "";
        right: 0;
        top: 0;
        background: #46dbc7;
        transition: all 0.3s ease;
    }

    &::before {
        height: 0%;
        width: 2px;

        &:hover {
            height: 100%;
        }
    }

    &::after {
        width: 0%;
        height: 2px;

        &:hover {
            width: 100%;
        }
    }

    &:hover {
        background: transparent;
        box-shadow: none;
    }
}

.navbar {
    background-color: @nav-color;
}

.navbar-brand {
    color: #f8f8f8;
    cursor: pointer;
}

.nav-link {
    .navbar-brand();
    margin-right: 1em !important;

    &:hover {
        background-color: #f8f8f8;
        color: saturate(@nav-color, 15%);
    }
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    background-color: #ffffff !important;
}

.header {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;

    @media (max-width: 1920px) and (max-height: 1080px) and (min-resolution: 72dpi) {
        background-image: url('/static/img/header/header_image_1920x1080.jpg');
    }

    @media (min-width: 1920px) and (min-height: 1080px) {
        background-image: url('/static/img/header/header_image_4234x2614.jpg');
    }
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.79);
}

.description {
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
}

.description h1 {
    color: @nav-color;
}

.description p {
    color: #666;
    font-size: 20px;
    width: 50%;
    line-height: 1.5;
}

.description button {
    border-width: 1px;
    border-style: solid;
    border-color: @nav-color;
    background-color: @nav-color;
    color: #fff;
}