@charset "UTF-8";
@supports (display: flex) or
          (display: -webkit-box) or
          (display: -moz-box) or
          (display: -ms-flexbox) or
          (display: -webkit-flex) {
    #content {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex: none;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
}
@supports not (display: flex) {
    #content {
        margin: auto;
    }
}
#content {
    margin-top: 6rem;
    text-align: center;
}
#content::selection,
#content::-moz-selection {
    background-color: #5898ec85;
    border-radius: .5px;
}
a {
    text-decoration: none;
    font-size: 14px;
    background: #ffffff;
}
a:link {
    color: #00008b;
}
a:visited {
    color: #6e0090;
}
a:active {
    color: #ff4322;
}
* {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    background: rgb(132,255,216);
    background: -moz-linear-gradient(90deg, rgba(132,255,216,1) 0%, rgba(189,174,251,1) 51%, rgba(0,212,255,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(132,255,216,1) 0%, rgba(189,174,251,1) 51%, rgba(0,212,255,1) 100%);
    background: linear-gradient(90deg, rgba(132,255,216,1) 0%, rgba(189,174,251,1) 51%, rgba(0,212,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#84ffd8",endColorstr="#00d4ff",GradientType=1);
}
